/* LOGOS */
._logo{
    max-width: 211px;
    width: 100%;
}
@media (max-width: 1199px) {
  ._logo {
        max-width: 170px;
    }
}
@media (max-width: 991px) {
  ._logo {
        max-width: 106px;
    }
}

/* HEADING */
h1, ._h1{
    font-weight: 700;
    font-size: 88px;
    color: #fff;
}

h2, ._h2{
    font-weight: 700;
    font-size: 88px;
    line-height: 95%;
    letter-spacing: -1px;
}
@media (max-width: 1199px) {
  h1, ._h1,
  h2, ._h2  {
    font-size: 76px;
   }
}
@media (max-width: 767px) {
    h1, ._h1{
    font-size: 48px;
   }
   h2, ._h2 {
    font-size: 44px;
   }
}

/* SPRITE */
._sprite{
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--green);
}
._sprite svg, ._sprite img{
    max-width: 21px;
}

/* BUTTONS */
._primaryBtn{
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    font-weight: 700;
    font-size: 25px;
    padding: 23px 40px;
    background: var(--green);
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 80px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    transition: 0.3s;
}
._primaryBtn:hover{
    color: #fff;
    background-color: rgba(8, 192, 106, 0.7);
}
._secondaryBtn{
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    font-weight: 700;
    font-size: 25px;
    padding: 20px 40px;
    cursor: pointer;
    border: solid 3px var(--green);
    border-radius: 80px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #000000;
    transition: 0.3s;
}
._secondaryBtn:hover{
    background-color: var(--green);
    color: #fff;
}
@media (max-width: 767px)  {
    ._secondaryBtn{
        font-size: 20px;
        padding: 8px 30px;
    }
}