/* Inter-Regular */
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Inter-Medium */
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root{
  --body-bg: #F1F2F2;
  --blue: #002D6D;
  --sky-blue: #4EB0EA;
  --lightest-blue: #F4F7FF;
  --lighter-blue: #E8F0FD;
  --light-blue: #DBE9FF;
  --orange: #F57336;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background-color: var(--body-bg);
  color: var(--blue);
  line-height: 1.21;
}
/* CONTAINER */
@media (min-width: 1400px) {
  .container{
      max-width: 1324px;
  }
}

/* ROW */
.row {
    --bs-gutter-x: 20px;
}

/* COLS 5  */
@media (min-width: 992px) {
  .col-lg-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

a, .nav-link{
  color: var(--blue);
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}

a .icon,
a .icon:before{
  transition: 0.3s;
}

/* HEADINGS */
h1, ._h1{
  font-weight: 500;
  font-size: 75px;
  font-size: clamp(30px, 3.9vw, 75px);
  line-height: 1.2;
}
h2, ._h2{
  font-weight: 500;
  font-size: 50px;
  font-size: clamp(28px, 2.6vw, 50px);
  line-height: 1.2;
  margin-bottom: 20px;
}
h3, ._h3{
  font-weight: 500;
  font-size: 34px;
  font-size: clamp(24px, 2vw, 34px);
  line-height: 1.2;
}
h4, ._h4{
  font-weight: 500;
  font-size: 28px;
  font-size: clamp(20px, 1.40vw, 28px);
  line-height: 1.2;
  margin-bottom: 12px;
}

/* FONT SIZES CUSTOM WITH CLAMP */
.fz-75 {
  font-size: clamp(30px, 3.9vw, 75px);
}
/* --- FZ-50 --- */
.fz-50 {
  font-size: clamp(19px, 2.6vw, 50px);
}
/* --- FZ-34 --- */
.fz-34 {
  font-size: 34px;
  font-size: clamp(24px, 2vw, 34px);
}
/* --- FZ-28 --- */
.fz-28 {
  font-size: 28px;
  font-size: clamp(20px, 1.50vw, 28px);
}
/* --- FZ-24 --- */
.fz-24 {
  font-size: 24px; 
  font-size: clamp(16px, 1.25vw, 24px);
}
/* --- FZ-20 --- */
.fz-20 {
  font-size: 20px; /* fallback */
  font-size: clamp(16px, 1.04vw, 20px); /* responsive */
}
/* --- FZ-14 --- */
.fz-14{
  font-size: 14px;
}

/* FONT SIZES SIMPLE */
.fz-desc{
    font-size: 24px;
}

/* SECTION */
section{
  padding-top: clamp(20px, 3.125vw, 60px);
  padding-bottom: clamp(20px, 3.125vw, 60px);
}

/* IMAGES */
img{
  max-width: 100%;
}

/* FONT WEIGHTS */
.fw-normal{
  font-weight: 400!important;
}
.fw-medium{
  font-weight: 500!important;
}

/* PADDINGS */
.py-120 {
  padding-top: clamp(40px, 6.25vw, 120px);
  padding-bottom: clamp(40px, 6.25vw, 120px);
}

.pt-60 {
  padding-top: clamp(20px, 3.125vw, 60px);
}
.pb-60 {
  padding-bottom: clamp(20px, 3.125vw, 60px);
}

.my-60 {
  margin-top: clamp(20px, 3.125vw, 60px);
  margin-bottom: clamp(20px, 3.125vw, 60px);
}
.mt-60 {
  margin-top: clamp(20px, 3.125vw, 60px);
}
.mb-60 {
  margin-bottom: clamp(20px, 3.125vw, 60px);
}

/* ul list */
._custom-ul{
  padding-left: 20px;
  list-style: none;
}
._custom-ul li{
  margin-bottom: 12px;
  position: relative;
}
._custom-ul li:before{
  content: "";
  position: absolute;
  background-color: #7DAAFF;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 8px;
  left: -20px;
}

/* BACKGROUNDS */
.bg-lighter-blue{
  background-color: var(--lighter-blue);
}
.bg-light-blue{
  background-color: var(--light-blue);
}
.bg-blue{
  background-color: var(--blue);
}