*,  ::after,  ::before  {
    box-sizing:  border-box;
}
._d-mn-l,
._d-mx-l,
._d-mn-l-flex,
._d-mx-l-flex,
._d-mn-m,
._d-mx-m,
._d-mn-m-flex,
._d-mx-m-flex {
  display: none !important;
}
@media (min-width: 992px) {
    ._d-mn-l {
      display: block !important;
    }
    ._d-mn-l-flex {
      display: flex !important;
    }
}
@media (max-width: 991px) {
    ._d-mx-l {
      display: block !important;
    }
    ._d-mx-l-flex {
      display: flex !important;
    }
}
@media (min-width: 768px) {
  ._d-mn-m {
    display: block !important;
  }
  ._d-mn-m-flex {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  ._d-mx-m {
    display: block !important;
  }
  ._d-mx-m-flex {
    display: flex !important;
  }
}
h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
}
img,
svg {
    vertical-align: middle;
}
h1,
h2,
h3,
h4 {
    margin-bottom: 0.5rem;
    font-weight: initial;
}
._text-center {
    text-align: center !important;
}
p {
    margin-bottom: 15px;
}
img {
    border-style: none;
    max-width: 100%;
}
svg {
    overflow: hidden;
}

._cl-x-2,
._cl-x-3,
._cl-x-4,
._cl-x-5,
._cl-x-6,
._cl-x-7,
._cl-x-8,
._cl-x-9,
._cl-x-10,
._cl-l-1,
._cl-l-2,
._cl-l-3,
._cl-l-4,
._cl-l-5,
._cl-l-6,
._cl-l-7,
._cl-l-8,
._cl-l-9,
._cl-l-10,
._container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 576px) {
    ._container{
       padding-left: 15px;
       padding-right: 15px; 
    }
}
@media (min-width: 992px) {
    ._cl-l-1{
        flex: 0 0 auto;
        width: 8.33333333%;
    }
    ._cl-l-2{
        flex: 0 0 auto;
        max-width: 16.66666667%;
    }
    ._cl-l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    ._cl-l-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    ._cl-l-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    ._cl-l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    ._cl-l-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    ._cl-l-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    ._cl-l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    ._cl-l-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
}

section {
    display: block;
}

._container {
    margin-right: auto;
    margin-left: auto;
}

._row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

._container._container-small{
    max-width: 1080px;
}

@media (min-width: 577px) {
    ._container{
        max-width: 546px;
    }
}
@media (min-width: 768px) {
    ._container{
        max-width: 704px;
    }
}
@media (min-width: 992px) {
    ._container{
        max-width: 956px;
    }
}
@media (min-width: 1200px) {
    ._container{
        max-width: 1180px;
    }
}
@media (min-width: 1320px) {
    ._container{
        max-width: 1310px;
    }
}


