@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon/icomoon.eot?p7m4ko');
  src:  url('../font/icomoon/icomoon.eot?p7m4ko#iefix') format('embedded-opentype'),
    url('../font/icomoon/icomoon.ttf?p7m4ko') format('truetype'),
    url('../font/icomoon/icomoon.woff?p7m4ko') format('woff'),
    url('../font/icomoon/icomoon.svg?p7m4ko#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line{
  font-size: 2px;
}
.icon-line:before {
  content: "\e90b";
  color: #002d6d;
  font-size: 2px;
}
.icon-double-arrows:before {
  content: "\e90a";
  color: #002d6d;
}
.icon-checked:before {
  content: "\e900";
  color: #fff;
}
.icon-target:before {
  content: "\e901";
  color: #fff;
}
.icon-speed:before {
  content: "\e902";
  color: #fff;
}
.icon-loading:before {
  content: "\e903";
  color: #fff;
}
.icon-key:before {
  content: "\e904";
  color: #002d6d;
}
.icon-mail:before {
  content: "\e905";
  color: #002d6d;
}
.icon-oval-checked:before {
  content: "\e906";
  color: #002d6d;
}
.icon-wish:before {
  content: "\e907";
  color: #fff;
}
.icon-tg:before {
  content: "\e908";
  color: #002d6d;
}
.icon-tel:before {
  content: "\e909";
  color: #002d6d;
}
